.score-board{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    padding-bottom: 2.5rem;
    
    position: relative;
}

/*é um dos filhos de score-board*/
.player-info:last-child {
    direction: rtl;
}

.player-info:last-child > .player-score:last-child {
    flex-direction: row-reverse;
}
.player-info:last-child > .player-score:last-child[data-points = "2"]{
    flex-direction: row;
}