.score-board{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    padding-bottom: 2.5rem;
    
    position: relative;
}

.score-board p{
    color: var(--color-yellow);
    font-size: 0.57rem;
}

/*é um dos filhos de score-board*/
.player-info:last-child {
    direction: rtl;
}