body{
    font-family: 'Press Start 2P', sans-serif;

    background-color: var(--color-lilas);
    max-width: 320px;

    margin-left: auto;
    margin-right: auto;
    
    padding: 1.2rem .95rem;

    border: 5px solid var(--color-floralwhite);
}