#icon-arrow{
    position: absolute;
    top: -1rem;

    transform: translateX(-2.375rem);
    transition: transform .4s cubic-bezier(0.42,0,0.54, 1.5);
}

#icon-arrow img{
    width: 20px;
    height: auto;
}

#icon-arrow[data-currentPlayer="2"]{
    transform: translateX(2.375rem);
}

#icon-arrow.-move{
    transform: translateX(2.375rem);
}