:root{
    --color-alura :#051932;
    --color-lilas :#7C5E99;
    --color-pink :#F25A70;
    --color-cardeal :#BA1F33;
    --color-yellow :#F5D547;
    --color-lightgreen :#62C370;
    --color-silver: #828282;
    --color-floralwhite :#FFFCEE;
    --color-eggshell :#EAE6DA;
}